DeepFilterLib==0.5.6
DeepFilterNet==0.5.6
Flask==3.0.3
matplotlib==3.9.0
matplotlib-inline==0.1.7
more-itertools==10.2.0
numba==0.59.1
numpy==1.26.4
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
languagemodels==0.20.0
psutil==6.0.0
pydub==0.25.1
scikit-learn==1.5.0
scipy==1.13.1
simple-diarizer==0.0.13
soundfile==0.12.1
soupsieve==2.3.1
speechbrain==0.5.16
tiktoken==0.7.0
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
gunicorn==22.0.0
